table#cart {
    width: 100%;
    border-collapse: collapse;
  }
  
  table#cart th,
  table#cart td {
    padding: 0.5em;
  }
  
  table#cart td {
    border: 1px solid;
  }
  
  table#cart tfoot {
    background: #FEFCF7;
  }
  
  input {
    font: inherit;
  }
  
  .btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: inherit;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 4px;
  }
  .btn-success {
    color: #FEFCF7;
    background-color: #0E8784;
    border-color: #0E8784;
  }
  .btn-delete {
    color: #FEFCF7;
    background-color: #cf000f;
    border-color: #cf000f;
  }
  
  h1,
  .cta,
  h2 {
    font-family: 'Fraunces', serif;
    text-align: center;
  }
  