@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&family=Roboto+Slab:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Nunito',sans-serif;
    text-decoration: none;
}



footer{
    width: 100%;
    padding: 50px 0px;
    background-size: cover;
    background:rgb(0, 0, 0) ;
    display:flex ;
    justify-content: space-around;
   
}
.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}
.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px
}

.box__footer .logo img{
    width: 180px;
}
.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #1B9682;
    font-size: 18px;
}

.box__footer  h2{
 
    margin-bottom: 30px;
    color:#1B9682;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color:#1B9682;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}
.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px, 40px;
}
.box__copyright p{
    margin-top: 20px;
    color:#1B9682;
}
.box__copyright hr{
    height: 1px;
    background-color:#1B9682;
}
 .box__footer{
     font-size: 30px;

 }