.navbar-collapse .navbar-nav .nav-item .nav-link{
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    padding-bottom: 0;
    /* padding-top:10px; */
}

.navbar .navbar-brand{
    font-weight: bold;
}

#navbarSupportedContent{
    padding-top: 50px;
}
ul{

    font-family: 'Barlow', sans-serif;
}
#icono{
    color: black;
    padding-bottom: 0;
    /* padding-top:10px; */
}
   