
.bg-light{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px; 

}
.bg-light .navbar-brand{
    margin-top: 25px;
    font-weight: bold;
    font-size: 25px;
}
.bg-light .navbar-brand img{
    width: 60px;
    height: 60px;
}
.form-inline{
    color: black;
}
#icono{
    color: black;
    padding-bottom: 0;
}