#addcard {
    max-width: 480px;
    width: 90%;
    margin: 0 auto;
    background-color: #1B9682;
    padding: 40px;
    border-radius: 10px;
    box-shadow: black;
    color: black;
    font-weight: bold;
    box-shadow: 10px 10px 10px 5px #000;
  }
  
  @media (max-width:767px) {
    #addcard {
      padding: 30px;
    }
  }

#añadir{
    color:white/* #E9C9B2 */;
    font-weight:bold;
    background-color: black;
}