#addcard {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    background-color: #0E8784;
    padding: 40px;
    border-radius: 10px;
    box-shadow: black;
    color: black;
    font-weight: bold;
    box-shadow: 10px 10px 10px 5px #000;
  }
  
  @media (max-width:767px) {
   
  }

#añadir {
    color:#FEFCF7/* #E9C9B2 */;
    font-weight:bold;
    background-color: black;
}

.cloudinary-button{

  color:#FEFCF7;
  border-radius: 10px;
  background-color: black;
  margin-bottom: 15px;
  font-weight: bold;

  
}